.login-logo a{
    color: #5D261B;
}
.login-page{
background-color: #eee7e5;
}
.login-card-body{
    background-color: #f7f6f4;
    border: 1px solid rgb(150, 150, 150) ;

}

.btn:hover {
    color: #212529;
    text-decoration: none;
    background-color: #6b3226;
  }
  
  .btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
    background-color: #6b3226;
  }
  
  .btn.disabled, .btn:disabled {
    opacity: 0.65;
    box-shadow: none;
    background-color: #5D261B;
  }
  
  .btn:not(:disabled):not(.disabled) {
    cursor: pointer;
  }
  
  .btn:not(:disabled):not(.disabled):active, .btn:not(:disabled):not(.disabled).active {
    box-shadow: none;
  }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none;
  }
  
  .btn-primary {
    color: #fff;
    background-color:#5D261B;;
    border-color:#5D261B;
    box-shadow: none;
  }
  
  .btn-primary:hover {
    color: #fff;
    background-color:#6b3226;
    border-color:#6b3226;
    
  }
  
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color:#6b3226;
    border-color:#6b3226;
    
  }
  
  .btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color:#6b3226;
    border-color:#6b3226;
    
  }
  
  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
  .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color:#6b3226;
    border-color:#6b3226;
    
  }
  
 